@font-face {
    font-family: 'soy';
    src: url('../font/titulo/Soybeanut.ttf') format('truetype') , url('../font/titulo/Soybeanut.otf') format('opentypee');
  }

@font-face {
    font-family: 'myri';
    src: url('../font/pag/MYRIADAB.TTF') format('truetype');
}

@font-face {
    font-family: 'myriFin';
    src: url('../font/pag/MYRIADAS.TTF') format('truetype');
}

*{
    font-family: 'myri' ,'sans-serif';
}

/* -------------------HEADER-------------------*/ 
.div1{
    background-color: rgb(250, 250, 250);
    border-style: outset;
    border-right-width:0px;
    border-bottom-width: 2px;
    
}

/*Caixa de mensagem*/
.CaixaMsg{
    width: 9%;
    position: absolute;
    right: 19px;
    top: 47px;
}




/* -------------------FOOTER-------------------*/ 

/*Div suprema*/
.div7{
        display: flex;
        background-color: rgb(250, 250, 250);
        justify-content: space-around;
        align-items: center;
        width: 278%;
        height: 100%;
        padding: 7%;
        border-style: inset;
        border-left-width: 0px;
        border-top-width: 2px
}

/*Imagens do footer*/
.foot{
    width: 120%;
}

/*o que deixa o footer fixado embaixo*/
footer{
    position: fixed;
    bottom:0;
    left: 0;
}