/* -------------------HEADER-------------------*/

.isis{
    font-family: 'myri';
    font-size: 65px;
    text-align: center;
}


/* -------------------MAIN-------------------*/

.perfil{
    position: absolute;
    left: 4%;
    top: 14%;
    width: 31%;

}


.div8{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;

    right: 1.5%;
    top: 13%;
    width: 57%;
}

.num{
    font-size: 60px;
    
}

.div9{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;

    right: 0%;
    top: 17.5%;
    width: 58%;
}

.nom{
    font-size: 32px;
    color: grey;
}

.edit{
    position: absolute;
    background-color: rgb(230, 230, 230);
    right: 2%;
    top: 24%;
    width: 54%;
    text-align: center;
    font-size: 38px;
    padding: 1%;
    
}

.div10{
    
    position: absolute;
    justify-content: space-around;
    align-items: center;

    left: 7%;
    top: 33%;
    width: 54%;
}

.isisX{
    font-size: 50px;
}

.descr{
    top:20%;
    font-size: 30px;
}

.linkk{
    font-size: 30px;
    color: rgb(0, 38, 255);
    
}

.div11{
    position: absolute;
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    top: 51%;
    width: 93%;
    border-style: groove;
}

.mein{
    width: 170%;
}

.mein1{
    width: 104%;
}

.mein2{
    width: 78%;
}

.mein3{
    width: 120%;
}



/*PUBLICAÇÕES*/
.div12{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    left: -1%;
    top: 60.3%;
    width: 101%;

    
}

.div13{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    left: -1%;
    top: 78.6%;
    width: 100.8%;

}

.pub{
    width: 105%;
}